header {
  padding:10px;
  background-color:#85bb65;
  border-bottom:5px solid rgba(0,0,0,0.5);
}

footer {
  padding:10px;
  padding-top:2px;
  padding-bottom:2px;
  border-top:5px solid rgba(0,0,0,0.5);
  background-color:#85bb65;
}

main {
  background-color:#5b8e3e;
}

#content {
  width:80%;
  margin:auto;
  background-color:#FFFFFF;
  border-right:5px solid rgba(0,0,0,0.5);
  border-left:5px solid rgba(0,0,0,0.5);
  padding-top:40px;
  padding-bottom:80px;
  padding:20px;
}

#logo {
  width:128px;
  height:128px;
  outline:5px solid black;
  transition:background-color 500ms;
}

#logo:hover {
  background-color:rgba(255,255,255,0.2);
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  margin:3px;
  margin-right:18px;
  font-size:18pt;
  outline:2px solid black;
  display: inline;
  padding:3px;
  transition:background-color 500ms
}

nav > ul > li > a {
  color:black;
  text-decoration:none;
}

nav > ul > li:hover {
  background-color:rgba(255,255,255,0.2);
}

titleline {
  border-color:#000000;
  background-color:#000000;
}

nav {
  padding-left:5px;
  padding-top:5px;
}

.cite {
  padding-left: 22px ;
  text-indent: -22px ;
  width:65%;
}

.cite-title {
  font-size:12pt;
  text-decoration:underline;
}

.header-image {
  width:100%;
  height:450px;
  background-size:100% 100%;
  background-repeat:no-repeat; 
  box-shadow: 0px 0px 40px 40px white inset;
  transition:background-image 1s;
}

.header-image:hover {
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.header-image.agile {
  background-image:url('img/waterfall.jpg');
}

.header-image.agile:hover {
  background-image:url('img/agile-model.png');
}

.header-image.ba {
  background-image:url('img/ba1.jpg');
}

.header-image.ba:hover {
  background-image:url('img/ba2.png');  
}

.header-image.sc {
  background-image:url('img/sc2.png');
}

.header-image.sc:hover {
  background-image:url('img/sc3.png');  
}

#bglayer {
  background-color:rgb(210,210,210, 0.25);
  padding-left:20px;
  padding-right:20px;
  padding-top:1px;
  padding-bottom:1px;
}